* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  scroll-behavior: smooth;
}

body {
  font-family: 'open sans';
  font-size: 16px;
}
.contenedor {
  padding: 60px 0;
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

.titulo {
  color: #264cb6;
  font-size: 30px;
  text-align: center;
  margin-bottom: 60px;
}
header {
  width: 100%;
  height: 800px;
  background: #00416a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
      to right,
      hsla(200, 6%, 90%, 0.678),
      hsla(203, 100%, 21%, 0.658)
    ),
    url(../img/electricos.jpg); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
      to right,
      hsla(200, 6%, 90%, 0.678),
      hsla(203, 100%, 21%, 0.658)
    ),
    url(../img/electricos.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.hamburguer {
  position: fixed;
  z-index: 10;
  top: 30px;
  right: 30px;
  background: #fff;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 0 6px rgb(0, 0, 0.5);
}

.menu-navegacion {
  position: fixed;
  top: 0;
  right: 0;
  width: 30vw;
  height: 100%;
  background-image: linear-gradient(
    to top,
    #3590c9 0%,
    #7d849b 100%
  ); /* el color de l barra de menu */
  display: flex;
  flex-direction: column; /* este es para que toco quede uno encima del otro */
  justify-content: space-evenly; /*para que reparta el espacio equitativamente verticalmente*/
  align-items: center;
  transition: transform 0.3s ease ease-in-out;
  transform: translate(110%);
  box-shadow: 0 0 6px rgb(0, 0, 0, 0.5);
  z-index: 1;
}

.spread {
  transform: translate(0);
}

.menu-navegacion a {
  color: #fff;
  text-decoration: none;
}

nav .logo {
  height: 70%;
  position: initial;
}
nav .logo img {
  object-fit: cover;
  height: inherit;
}

nav > a:hover {
  text-decoration: underline;
}
#login-form {
  width: 120px;
  background: gray;
  text-align: center;
  display: none;

  margin: auto;
}
#login-form input[type='text'],
#login-form [type='password'] {
  background: black;
  color: white;
  display: block;
  margin-left: 10px;
  width: 100px;
  display: none;

  margin: auto;
}
header .textos-header {
  display: flex;
  height: 430px;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.textos-header h1 {
  font-size: 50px;
  color: #fff;
}
.textos-header h2 {
  font-size: 30px;
  font-weight: 300;
  color: #fff;
}

.enlaces {
  position: fixed;
  height: 100vh;
  right: 0;
  flex-direction: column;
  transition: all 1s ease;
  background: #092cc5;
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.uno {
  clip-path: circle(100% at 100% 0);
}

.contenedor-sobre-nosotros {
  display: flex;
  justify-content: space-evenly;
}

.imagen-about-us {
  width: 30%;
  height: 30%;
}
.sobre-nosotros .contenido-textos {
  width: 48%;
}
.contenido-textos h3 {
  margin-bottom: 15px;
}

.contenido-textos h3 span {
  background: #111766;
  color: #fff;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
  padding: 2px;
  box-shadow: 0 0 6px 0 rgb(0, 0, 5);
  margin-right: 5px;
}
.contenido-textos p {
  padding: 0px 0px 30px 15px;
  font-weight: 300;
  text-align: justify;
}
.portafolio {
  background: #f2f2f2;
}
.galeria-port {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.imagen-port {
  width: 40%; /* tamaño ancho de los cuadros de los servicio */
  height: 230px; /* tamaño largo de los cuadros de los servicio */
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 10px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 0 6px rgb(0, 0, 0.5);
}
.imagen-port > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* este es el codigo para poder ingresar las imagenes al darle clip a los servicios y le salga una imagene grande*/
.imagen-light {
  position: fixed;
  background: rgb(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(100%);
  transition: transform 0.2s ease-in-out;
}
.show {
  transform: translate(0);
}
.showImage {
  transform: scale(1);
}

.agregrar-imagen {
  object-fit: cover;
  width: 60%;
  border-radius: 10px;
  transform: scale(0);
  transition: transform 0.3s 0.2s;
}
.close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 40px;
  cursor: pointer;
}
.hover-galeria {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  transform: scale(0);
  display: flex;
}
main .portafolio .galeria-port .imagen-port img:hover {
  opacity: 0.6;
  cursor: pointer;
}
.cards {
  display: flex;
  justify-content: space-evenly;
}
.cards .card {
  background: #1057b4;
  display: flex;
  width: 46%;
  height: 200px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  box-shadow: 0 0 6px 0 rgb(0, 0, 0, 0.6);
}

.cards .card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 3px solid #fff;
  border-radius: 50%;
  display: block;
}
.cards .card > .contenido-texto-card {
  width: 60%;
  color: #fff;
}
.cards .card > .contenido-texto-card p {
  font-weight: 300;
  padding-top: 5px;
}
.about-services {
  background: #f2f2f2;
  padding-bottom: 30px;
}
.servicio-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.servicio-ind {
  width: 28%;
  text-align: center;
}
.servicio-ind img {
  width: 90%;
}
.servicio-ind h3 {
  margin: 10px 0;
}
.servicio-ind p {
  font-weight: 300;
  text-align: justify;
}

footer {
  background: #333747;
  padding-bottom: 0.1px;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 60px;
  padding-bottom: 40px;
}
.contact-us {
  width: 40%;
  color: #fff;
}
.brand {
  font-weight: 500;
  font-size: 40px;
}
.brand + p {
  font-weight: 500;
}
.social-media {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
.social-media-icon {
  display: inline-block;
  margin-left: 20px;
  width: 60px;
  height: 60px;
  border: 1px solid #fff;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  margin: 20px;
}
.social-media-icon:hover {
  background: #fff;
  color: #000;
}
.social-media-icon i {
  font-size: 30px;
  line-height: 60px;
}

.line {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  height: 1px;
  background: #fff;
  margin-bottom: 60px;
}

@media screen and(max-width:800px) {
  .header {
    width: 80%;
  }
  .menu-navegacion {
    width: 50vw;
  }
  .titulo {
    font-size: 40px;
  }
  .contenedor-sobre-nosotros {
    width: 80%;
    margin-bottom: 40px;
  }
  .portafolio {
    width: 80%;
  }
  .agregrar-imagen {
    width: 80%;
  }
  .galeria-port {
    width: 40%;
  }
}
/*registro*/
.formulario-inicio_tecnico {
  width: 1000px;
  background: #0b2161;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: 'arial';
  color: white;
  box-shadow: 7px 13px 37 px #000;
  opacity: 0.8;
  border: 2px solid #fffafa;
  overflow: hidden;
}

.formulario-inicio_tecnico h4 {
  font-size: 22px;
  margin-bottom: 20px;
  text-align: center;
}
.controls {
  width: 100%;
  background: white;
  padding: 5px;
  border-radius: 4px;
  margin-bottom: 10px;
  border: 1px solid #808080;
  font-family: 'arial';
  font-size: 18px;
}
.formulario-inicio_tecnico p {
  height: 40px;
  text-align: center;
  font-size: 18px;
}
.formulario-inicio_tecnico a {
  color: white;
  text-decoration: none;
}
.formulario-inicio_tecnico a:hover {
  color: white;
  text-decoration: underline;
}
.formulario-inicio_tecnico .botons {
  width: 100%;
  background: #ff8000;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}
.formulario-inicio_cliente {
  width: 500px;
  background: #0b2161;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: 'arial';
  color: white;
  box-shadow: 7px 13px 37 px #000;
  border: 2px solid #fffafa;
  opacity: 0.8;
}
.solicitudes {
  width: 250px;
  background: #0b2161;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: 'arial';
  color: white;
  box-shadow: 7px 13px 37 px #000;
  border: 2px solid #fffafa;
  opacity: 0.8;
}
.formulario-inicio_cliente h4 {
  font-size: 22px;
  margin-bottom: 20px;
  text-align: center;
}
.controls {
  width: 100%;
  background: white;
  padding: 5px;
  border-radius: 4px;
  margin-bottom: 10px;
  border: 1px solid#808080;
  font-family: 'arial';
  font-size: 18px;
}
.formulario-inicio_cliente p {
  height: 40px;
  text-align: center;
  font-size: 18px;
}
.formulario-inicio_cliente a {
  color: white;
  text-decoration: none;
}
.formulario-inicio_cliente a:hover {
  color: white;
  text-decoration: underline;
}
.formulario-inicio_cliente .botons {
  width: 100%;
  background: #ff8000;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
  align-content: center;
}
.column1of2 {
  float: left;
  width: 400px;
  margin: 30px;
}
.column2of2 {
  float: right;
  width: 400px;
  margin: 30px;
}

.ventana {
  background: #707072;
  width: 500px;
  height: 300px;
  left: 450px;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  text-align: left;
  padding: 5%;
  position: absolute;
  display: none;
  top: 45%;
}

th {
  margin: 0px 0px;
}
.ventanatec {
  background: #c6c6c9;
  width: 50%;
  height: 50%;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  text-align: left;
  padding: 20px;
  min-height: 20%;
  left: 350px;
  overflow: hidden;
  opacity: 90%;
  position: absolute;
  display: none;
}
.ventanatec one {
  background: #c6c6c9;
  width: 50%;
  height: 50%;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  text-align: left;
  padding: 10px;
  min-height: 40%;
  left: 350px;
  overflow: hidden;
  opacity: 90%;
  position: absolute;
  display: none;
}
.botones {
  width: 40%;
  background: #ff8000;
  border-radius: 10px;
  padding: 12px;
  margin: 16px;
  font-size: 16px;
  text-align: center;
  float: left;
  border-bottom: solid 5px #1b02f8;
}
.botones one {
  float: right;
}
.modulo {
  width: 1200px;
  background: #0b2161;
  padding: 250px;
  margin: 50px;
  margin-top: 0px;
  border-radius: 10px;
  border-color: #f2f2f2;
  font-family: 'arial';
  color: white;
  box-shadow: 7px 13px 37 px #000;
  opacity: 0.8;
  overflow: hidden;
}
/*Estados*/
.aceptado {
  display: flex;
  width: 120px;
  height: 25px;
  background: #0e8803d8;
}
.pendiente {
  display: flex;
  width: 120px;
  height: 25px;
  background: #f1ce05;
}
.rechazado {
  display: flex;
  width: 120px;
  height: 25px;
  background: rgba(250, 4, 4, 0.973);
}

#confirmar {
  position: absolute;
  right: 80px;
}
/*tablas*/
#main-container {
  margin: 5px auto;
  width: 1280px;
}
table {
  background-color: #ffffff;
  text-align: left;
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  padding: 15px;
}
thead {
  background-color: #092cc5;
  border-bottom: solid 5px #ff8000;
  color: white;
}
tr:nth-child(even) {
  background-color: #3590c9;
}
tr:hover td {
  background-color: #f7913e;
}
/*menu tabla*/
#menu-tabla {
  width: 200px;
  min-height: 50px;
  background-color: #3590c9;
  margin: 15px;
}
#menu-tabla ul {
  list-style: none;
  display: flex;
}
#menu-tabla a {
  color: #000;
  display: block;
  padding: 20px;
  text-decoration: none;
  background: #092cc5;
  border-bottom: solid 5px #ff8000;
}
#menu-tabla a:hover {
  background: #ff8000;
}
@media screen and (max-width: 900px) {
  header {
    background-position: center;
  }
  .contenedor-sobre-nosotros {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
